.hambugerMenuUserLogged {
    display: none;
    cursor: pointer;
}

.hambugerMenuUserLogged img {
    width: 40px;
}

.screenWithLinks {
    display: block;
}

@media (max-width: 1069px){
    .hambugerMenuUserLogged {
        display: block;
    }   
}
