.button {
    border-radius: 8px;
    width: 100%;
    min-height: 50px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    color: white;
}

.red {
    background-color: #BE0024;
}

.black {
    background-color: #2A2E32;
}