.root {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.navBar {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar > div:nth-child(1) > a > img {
    width: 300px;
}

/* Not Logged */
.notLogged {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notLogged > b {
    font-size: 15px;
    cursor: pointer;
    margin-right: 20px;
}

/* User Logged */
div#administratorStyle {
    width: 50%;
}

div#studentStyle, 
div#companyStyle {
    width: 30%;
}

.userLogged {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userLogged p:nth-child(3) a,
.userLogged p:nth-child(3) a:visited{
    color: #8F0016;
}

.userLogged ul.administrator {
    width: 50%;
}

.userLogged > ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.userLogged > img {
    width: 50px;
}

/* Student or Company  */
.studentOrCompany{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.studentOrCompany > div:nth-child(1) {
    width: 80%;
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.studentOrCompany > div:nth-child(1) > div:nth-child(1) {
    width: 180px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.studentOrCompany p {
    cursor: pointer;
}

.linkBolded {
    font-weight: bold;
}

@media (max-width: 1069px) {
    div#administratorStyle > ul > li > a {
        font-size: 12px;
    }
}

/* Responsivo */
@media (max-width: 768px){
    .userLogged, .notLogged {
        display: none;
    }

    div#studentStyle, 
    div#companyStyle, 
    div#administratorStyle {
        display: none;
    }

    .navBar > div:nth-child(1) > a > img {
        width: 80%;
    }
}