.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root h2 {
    margin: 20px 0;
}

.formRegisterStudent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 100px;
}

.divButton {
    width: 35%;
    margin-top: 30px;
    align-self: center;
}

.divRadioInput {
    width: 30%;
}

@media (max-width: 1024px) {
    .formRegisterStudent {
        width: 80%;
    }
}