.childUserInformations {
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: space-around;
}

.userData {
    height: 100%;
    line-height: 1.8em;
}

.userData > p:nth-child(1) {
    font-weight: 700;
    margin-bottom: 10px;
}

.behavioralProfile {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.behavioralProfile > div:nth-child(1) > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #C4C4C4;
}

.behavioralProfile > div:nth-child(2){
    text-align: center;
}

.cardsJobApplication {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsJobApplication > h1:nth-child(1) {
    margin: 40px 0;
    border-bottom: 2px solid #000000;
}

.cardsJobApplication > div:nth-child(2) {
    width: 70%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}