.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formRegisterCompany {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowForm {
    display: flex;
    justify-content: space-between;
}

.divButton{
    width: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;
}